
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Grabar servicio</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>cita</label>
            <select class="form-select" name="cita" id="cita" [(ngModel)] = "servicio.idCita">
                <option [ngValue]=0 selected>Seleccione una cita</option>
                <option *ngFor="let cita of citas" [ngValue]="cita.idCita" >{{cita.idCita}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Producto</label>
            <select class="form-select" name="producto" id="producto" [(ngModel)] = "servicio.idProducto">
                <option [ngValue]=0 selected>Seleccione un producto</option>
                <option *ngFor="let producto of productos" [ngValue]="producto.idProducto" >{{producto.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Oferta</label>
            <select class="form-select" name="oferta" id="oferta" [(ngModel)] = "servicio.idOferta">
                <option [ngValue]=0 selected>Seleccione una oferta</option>
                <option *ngFor="let oferta of ofertas" [ngValue]="oferta.idOferta" >{{oferta.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Nombre: </label>
            <input type="string" name="nombre" id="nombre" class="form-control" [(ngModel)] = "servicio.nombre">
        </div>
        <div class="form-group">
            <label>Descripción: </label>
            <input type="string" name="descripcion" id="descripcion" class="form-control" [(ngModel)] = "servicio.descripcion">
        </div>
        <div class="form-group">
            <label>Tiempo estimado: </label>
            <input type="time" name="tiempo" id="tiempo" class="form-control" [(ngModel)] = "servicio.tiempoEstimado">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    </div>
    