<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Grabar pago</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Servicio</label>
            <select class="form-select" name="horatio" id="horario" [(ngModel)] = "pago.idServicio">
                <option [ngValue]=0 selected>Seleccione un servicio</option>
                <option *ngFor="let servicio of servicios" [ngValue]="servicio.idServicio" >{{servicio.descripcion}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Fecha: </label>
            <input type="datetime-local" name="fecha" id="fecha" class="form-control" [(ngModel)] = "pago.fecha">
        </div>
        <div class="form-group">
            <label>Total a cobrar: </label>
            <input type="number" name="totalCobrar" id="totalCobrar" class="form-control" [(ngModel)] = "pago.montoTotal">
        </div><br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    </div>
    