<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Crear producto</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre: </label>
            <input type="string" name="nombre" id="nombre" class="form-control" [(ngModel)] = "producto.nombre">
        </div>
        <div class="form-group">
            <label>Descripción: </label>
            <input type="string" name="descripcion" id="descripcion" class="form-control" [(ngModel)] = "producto.descripcion">
        </div>
        <div class="form-group">
            <label>Código: </label>
            <input type="string" name="codigo" id="codigo" class="form-control" [(ngModel)] = "producto.codigo">
        </div>
        <div class="form-group">
            <label>Precio: </label>
            <input type="number" name="precio" id="precio" class="form-control" [(ngModel)] = "producto.precio">
        </div>
        <div class="form-group">
            <label>Cantidad: </label>
            <input type="text" name="cantidad" id="cantidad" class="form-control" [(ngModel)] = "producto.cantidad">
        </div>
        <div class="form-group">
            <label>Tipo de producto: </label>
            <input type="number" name="tipoProducto" id="tipoProducto" class="form-control" [(ngModel)] = "producto.idTipoProducto">
        </div>
        <div class="form-group">
            <label>Tipo de producto</label>
            <select class="form-select" name="tipoProducto" id="tipoProducto" [(ngModel)] = "producto.idTipoProducto">
                <option [ngValue]=0 selected>Seleccione un tipo de producto</option>
                <option *ngFor="let tipoProducto of tiposProducto" [ngValue]="tipoProducto.idTipoProducto" >{{tipoProducto.descripcion}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    </div>
    