<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Facturar</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Número de serie: </label>
            <input type="string" name="serie" id="serie" class="form-control" [(ngModel)] = "factura.noSerie">
        </div>
        <div class="form-group">
            <label>Fecha: </label>
            <input type="datetime-local" name="fecha" id="fecha" class="form-control" [(ngModel)] = "factura.fecha">
        </div>
        <div class="form-group">
            <label>Pago</label>
            <select class="form-select" name="pago" id="pago" [(ngModel)] = "pagoSeleccionado">
                <option [ngValue]=0 selected>Seleccione un pago</option>
                <option *ngFor="let pago of pagos" [ngValue]="pago" >{{pago.montoTotal}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Oferta</label>
            <select class="form-select" name="oferta" id="oferta" [(ngModel)] = "ofertaSeleccionada" (change)="calcularTotal()">
                <option [ngValue]=0 selected>Seleccione una oferta</option>
                <option *ngFor="let oferta of ofertas" [ngValue]="oferta" >{{oferta.nombre}} - {{oferta.descuento}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Total a cobrar: </label>
            <input type="number" name="totalCobrar" id="totalCobrar" class="form-control" [(ngModel)] = "factura.totalCobrar" disabled>
        </div><br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    </div>
    